{% extends 'base.html' %}


{% block content %}

    <div class="m-3">
        <div class="row">
           <div class="col-md-12">
               <div class="card card-success">
                    <div class="card-header">
                        <h2 class="">Welcome to VSMS</h2>
                    </div>

                    <!--Show cards with stats-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-primary">
                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Customers</span>
                                        <span class="info-box-number">19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-success">
                                    <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Customers</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-danger">
                                    <span class="info-box-icon"><i class="fa fa-user-times"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted Customers</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--FOr vendors-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-primary">
                                    <span class="info-box-icon"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Vendors</span>
                                        <span class="info-box-number">19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-success">
                                    <span class="info-box-icon"><i class="fa fa-user-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Vendors</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-danger">
                                    <span class="info-box-icon"><i class="fa fa-user-times"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted Vendors</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>

                            <!--FOr products-->
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-primary">
                                    <span class="info-box-icon"><i class="fa fa-box"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Products</span>
                                        <span class="info-box-number">19</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-success">
                                    <span class="info-box-icon"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Products</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-danger">
                                    <span class="info-box-icon"><i class="fa fa-minus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted Products</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>

                            <!--FOr Services-->
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-primary">
                                    <span class="info-box-icon"><i class="fa fa-wrench"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Services</span>
                                        <span class="info-box-number">19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-success">
                                    <span class="info-box-icon"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Services</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-danger">
                                    <span class="info-box-icon"><i class="fa fa-minus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted Services</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>

                            <!--FOr Sales-->
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-primary">
                                    <span class="info-box-icon"><i class="fa fa-book"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Total Sales</span>
                                        <span class="info-box-number">19</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-success">
                                    <span class="info-box-icon"><i class="fa fa-plus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">New Sales</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-box m-3 p-3 bg-danger">
                                    <span class="info-box-icon"><i class="fa fa-minus"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Deleted Sales</span>
                                        <span class="info-box-number">2</span>
                                    </div>
                                </div>
                            </div>

                    </div>
                           

               </div>
           </div>
        </div>
    </div>

{% endblock %}