{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"> Product Details</h3>
          </div>
          <br>
          <!-- /.card-header -->
          <div class="card-body p-5">
          <!-- form start -->
         <table class="table m-3  table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Vendor</th>
                    <th>Quantity</th>
                    <th>Additional Information</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Bike Silencer</td>
                    <td>Bike Accessories</td>
                    <td>Rs. 3000</td>
                    <td>Vendor 1</td>
                    <td>10</td>
                    <td>Bike Silencer for bike</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>


               
            </tbody>
         </table>
        </div>
    </div>
        <!-- /.card -->
        </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>

{% endblock %}