{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- jquery validation -->
        <div class="card card-primary ">
          <div class="card-header">
            <h3 class="card-title"> Sales List of products and services.</h3>
          </div>
          <br>
          <!-- /.card-header -->
          <div class="card-body p-5">
          <!-- form start -->
         <table class="table m-3  table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Product / Services</th>
                    <th>Total </th>
                    <th>Customer</th>
                    <th> Additional Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>2022 July 30</td>
                    <td>Bike Servicing</td>
                    <td>Rs. 1200</td>
                    <td>John Doe</td>
                    <td>Bike servicing & mobil change</td>
                    <td>
                        <a href="#">
                            <button class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>

                        <a href="#">
                            <button class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
                </tr>

            </tbody>
         </table>
        </div>
        </div>
        <!-- /.card -->
        </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-6">

      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
  </div>

{% endblock %}